<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table-condensed lw-table">
  <tbody>
  <tr><td>
  <div class="field">
    <%= f.label :last_name, "Last Name"%><br>
    <%= f.text_field :lastname, size: 20  %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :firstname %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :middle_initial %><br>
    <%= f.text_field :middleinitial %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :webname %><br>
    <%= f.text_field :webname %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :urlphoto %><br>
    <%= f.text_field :urlphoto %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phonework %><br>
    <%= f.text_field :phonework %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phonehome %><br>
    <%= f.text_field :phonehome %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phonecell %><br>
    <%= f.text_field :phonecell %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :fax %><br>
    <%= f.text_field :fax %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :addressoffice %><br>
    <%= f.text_field :addressoffice %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :addresslab %><br>
    <%= f.text_field :addresslab %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :addressmail %><br>
    <%= f.text_field :addressmail %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :urldepartment %><br>
    <%= f.text_field :urldepartment %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_field :organization %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :urlorganization %><br>
    <%= f.text_field :urlorganization %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :biography %><br>
    <%= f.text_area :biography %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :researchinterests %><br>
    <%= f.text_area :researchinterests %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_area :education %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :professionalexperience %><br>
    <%= f.text_area :professionalexperience %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :professionalservice %><br>
    <%= f.text_area :professionalservice %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :otherpublications %><br>
    <%= f.text_area :otherpublications %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :patents %><br>
    <%= f.text_area :patents %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :awards %><br>
    <%= f.text_area :awards %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_area :skills %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :interests %><br>
    <%= f.text_area :interests %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :secretary %><br>
    <%= f.text_area :secretary %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :bs_year %><br>
    <%= f.number_field :bs_year %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :bs_title %><br>
    <%= f.text_field :bs_title %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :bs_school %><br>
    <%= f.text_field :bs_school %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :bs_field %><br>
    <%= f.text_field :bs_field %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :bs_in_lab %><br>
    <%= f.check_box :bs_in_lab %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :ms_year %><br>
    <%= f.number_field :ms_year %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :ms_title %><br>
    <%= f.text_field :ms_title %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :ms_school %><br>
    <%= f.text_field :ms_school %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :ms_field %><br>
    <%= f.text_field :ms_field %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :ms_thesis %><br>
    <%= f.text_field :ms_thesis %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :ms_in_lab %><br>
    <%= f.check_box :ms_in_lab %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phd_year %><br>
    <%= f.number_field :phd_year %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phd_title %><br>
    <%= f.text_field :phd_title %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phd_school %><br>
    <%= f.text_field :phd_school %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phd_field %><br>
    <%= f.text_field :phd_field %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phd_thesis %><br>
    <%= f.text_field :phd_thesis %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :phd_in_lab %><br>
    <%= f.check_box :phd_in_lab %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :miscattributes %><br>
    <%= f.text_field :miscattributes %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :person_category_id %><br>
    <%= f.text_field :person_category_id %>
  </div>
  </td></tr>
  <tr><td>
  <div class="actions">
    <%= f.submit %>
  </div>
  </td></tr>
  </tbody>
  </table>
<% end %>
