<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :middle_initial %>
    <%= f.text_field :middleinitial %>
  </div>
  <div class="field">
    <%= f.label :webname %>
    <%= f.text_field :webname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :urlphoto %>
    <%= f.text_field :urlphoto %>
  </div>
  <div class="field">
    <%= f.label :phonework %>
    <%= f.text_field :phonework %>
  </div>
  <div class="field">
    <%= f.label :phonehome %>
    <%= f.text_field :phonehome %>
  </div>
  <div class="field">
    <%= f.label :phonecell %>
    <%= f.text_field :phonecell %>
  </div>
  <div class="field">
    <%= f.label :fax %>
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :addressoffice %>
    <%= f.text_field :addressoffice %>
  </div>
  <div class="field">
    <%= f.label :addresslab %>
    <%= f.text_field :addresslab %>
  </div>
  <div class="field">
    <%= f.label :addressmail %>
    <%= f.text_field :addressmail %>
  </div>
  <div class="field">
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :urldepartment %>
    <%= f.text_field :urldepartment %>
  </div>
  <div class="field">
    <%= f.label :organization %>
    <%= f.text_field :organization %>
  </div>
  <div class="field">
    <%= f.label :urlorganization %>
    <%= f.text_field :urlorganization %>
  </div>
  <div class="field">
    <%= f.label :biography %>
    <%= f.text_area :biography %>
  </div>
  <div class="field">
    <%= f.label :researchinterests %>
    <%= f.text_area :researchinterests %>
  </div>
  <div class="field">
    <%= f.label :education %>
    <%= f.text_area :education %>
  </div>
  <div class="field">
    <%= f.label :professionalexperience %>
    <%= f.text_area :professionalexperience %>
  </div>
  <div class="field">
    <%= f.label :professionalservice %>
    <%= f.text_area :professionalservice %>
  </div>
  <div class="field">
    <%= f.label :otherpublications %>
    <%= f.text_area :otherpublications %>
  </div>
  <div class="field">
    <%= f.label :patents %>
    <%= f.text_area :patents %>
  </div>
  <div class="field">
    <%= f.label :awards %>
    <%= f.text_area :awards %>
  </div>
  <div class="field">
    <%= f.label :skills %>
    <%= f.text_area :skills %>
  </div>
  <div class="field">
    <%= f.label :interests %>
    <%= f.text_area :interests %>
  </div>
  <div class="field">
    <%= f.label :secretary %>
    <%= f.text_area :secretary %>
  </div>
  <div class="field">
    <%= f.label :bs_year %>
    <%= f.number_field :bs_year %>
  </div>
  <div class="field">
    <%= f.label :bs_title %>
    <%= f.text_field :bs_title %>
  </div>
  <div class="field">
    <%= f.label :bs_school %>
    <%= f.text_field :bs_school %>
  </div>
  <div class="field">
    <%= f.label :bs_field %>
    <%= f.text_field :bs_field %>
  </div>
  <div class="field">
    <%= f.label :bs_in_lab %>
    <%= f.check_box :bs_in_lab %>
  </div>
  <div class="field">
    <%= f.label :ms_year %>
    <%= f.number_field :ms_year %>
  </div>
  <div class="field">
    <%= f.label :ms_title %>
    <%= f.text_field :ms_title %>
  </div>
  <div class="field">
    <%= f.label :ms_school %>
    <%= f.text_field :ms_school %>
  </div>
  <div class="field">
    <%= f.label :ms_field %>
    <%= f.text_field :ms_field %>
  </div>
  <div class="field">
    <%= f.label :ms_thesis %>
    <%= f.text_field :ms_thesis %>
  </div>
  <div class="field">
    <%= f.label :ms_in_lab %>
    <%= f.check_box :ms_in_lab %>
  </div>
  <div class="field">
    <%= f.label :phd_year %>
    <%= f.number_field :phd_year %>
  </div>
  <div class="field">
    <%= f.label :phd_title %>
    <%= f.text_field :phd_title %>
  </div>
  <div class="field">
    <%= f.label :phd_school %>
    <%= f.text_field :phd_school %>
  </div>
  <div class="field">
    <%= f.label :phd_field %>
    <%= f.text_field :phd_field %>
  </div>
  <div class="field">
    <%= f.label :phd_thesis %>
    <%= f.text_field :phd_thesis %>
  </div>
  <div class="field">
    <%= f.label :phd_in_lab %>
    <%= f.check_box :phd_in_lab %>
  </div>
  <div class="field">
    <%= f.label :miscattributes %>
    <%= f.text_field :miscattributes %>
  </div>
  <div class="field">
    <%= f.label :person_category_id %>
    <%= f.text_field :person_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
