<% provide(:title, 'People') %>
<% provide(:scrollspytag, "myScrollspy")%>

<!--sidenav-->
<div class="lw-content-sidenav-without-second-nav" id="myScrollspy">
  <ul class="sidenav nav nav-pills nav-stacked" id="mySidenav">
    <% @person_categories.each_with_index do |person_category, index| %>
      <li <% if index==0 %> class="active"<% end %> >
        <a href="#<%= index==0 ? index : index+1 %>"><%= person_category %>
          <span class="glyphicon glyphicon-menu-right"></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>

<!--content-->
<div class="lw-content-without-second-nav row">
  <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2" id="sidenavholder">&nbsp;</div>
  <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
    <div class="panel panel-default lw-content-without-second-nav">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1 class="panel-title"><a id="0" class="anchorwithoffset"></a>People @ <%= ENV["LABACRONYM"]%></h1>
      </div>

      <div class="panel-body">
        <% @person_categories.each_with_index do |person_category, index| %>
          <div style='font-weight: bold; padding: 5px 5px 15px 5px; font-size:125%'>
            <a id="<%= index+1 %>" class="anchorwithoffset"></a><%= person_category %>
          </div>

          <% if index < 6 %>
            <div class="row">
              <% @people.select{|x| x.person_category.name==person_category}
                        .sort{|a,b| a.firstname <=> b.firstname}.each do |person| %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 personview">
                  <%= link_to image_tag(person.get_photo_url, :alt => "image", :width => "162"), person %>
                  <br/>
                  <span style='font-weight: bold'><%= "#{person.firstname} #{person.lastname}" %></span>
                  <br/>
                  <%= person.person_category.name %>
                  <% if user_signed_in? && current_user.admin? %>
                    <br/>
                    [
                    <%= link_to 'Details', person %>,
                    <%= link_to 'Edit', edit_person_path(person) %>,
                    <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %>
                    ]
                  <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <table class='table-condensed lw-table'>
              <% @people.select{|x| x.person_category.name==person_category}
                        .sort{|a,b| a.firstname <=> b.firstname}.each do |person| %>
                <tr>
                  <td style='padding-left: 40px; padding-bottom: 10px'>
                    <%= link_to "#{person.firstname} #{person.lastname}", person %>
                    <% if user_signed_in? && current_user.admin? %>
                      [
                      <%= link_to 'Details', person %>,
                      <%= link_to 'Edit', edit_person_path(person) %>,
                      <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %>
                      ]
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>

          <div style='height: 20px'>&nbsp;</div>
        <% end %>
      </div>

      <% if user_signed_in? && current_user.admin? %>
        <div class="panel-footer">
          <%= link_to 'New Person', new_person_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!--adjust sidenav width-->
<script>
function resize() {
  $("#mySidenav").width($("#sidenavholder").width() + 20);
}

resize();
window.onresize = resize;

</script>



