<% provide(:title, 'People') %>

<div class="panel panel-default lw-content-without-second-nav">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">People @ <%= ENV["LABACRONYM"]%></h1>
  </div>

  <div class="panel-body">
	  <table class="table-condensed lw-table">
	  <% @person_categories.each_with_index do |person_category, index| %>
	      <tbody>
	          <tr>
	            <th 
			      <%if user_signed_in? && current_user.admin? %>colspan="2"<%end%>
			    ><%= person_category %></th>
	          </tr>
			  <% @people.select{|x| x.person_category.name==person_category}.sort{|a,b| a.firstname <=> b.firstname}.each do |person| %>
			  <tr>
	            <td>
					<ul style="list-style-type:none">
						<li><%= link_to "#{person.firstname} #{person.lastname}", person %><li>
					</ul>
				</td>
					<% if user_signed_in? && current_user.admin? %>
					<td>
						<ul style="list-style-type:none">
						<li>
		                [
						<%= link_to 'Details', person %>,
						<%= link_to 'Edit', edit_person_path(person) %>,
						<%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %>
						]
					    </li>
					    </ul>
		            <% end %>
			  </tr>
			  <% end %>
		  </tbody>
	  <% end %>
	  </table>
  </div>
</div>

<% if user_signed_in? %>
    <% if current_user.admin? %>
	    <div class="panel-footer">
        <%= link_to 'New Person', new_person_path %>
		</div>
    <% end %>
<% end %>


