<div class="row bheader">
	<%= "#{@person.firstname}" %>
  <%= @person.middleinitial.present? ? (@person.middleinitial + '.') : '' %>
	<%= "#{@person.lastname}" %>
	<%= "(#{@person.webname})" if @person.webname.present? %>

	<% if @person.person_category != nil %>
		<span class="category">[<%= @person.person_category.name %>]</span>
	<% end %>
</div>

<div class="row">
	<div class="col-xs-3">
    <%= image_tag(@person.get_photo_url(), :alt => "image", :width => "162") %>
		<br><br>
		<%= render partial: 'layouts/section', locals: {heading: nil, content: @person.organization, url: @person.urlorganization, content_boldfont: true} %>
		<%= render partial: 'layouts/section', locals: {heading: nil, content: @person.department, url: @person.urldepartment, content_boldfont: true } %>
		<%= render partial: 'layouts/section', locals: {heading: "Office", content: @person.addressoffice} %>
		<%= render partial: 'layouts/section', locals: {heading: "Lab", content: @person.addresslab} %>
		<%= render partial: 'layouts/section', locals: {heading: "Mail", content: @person.addressmail, content_newline: true} %>
		<p><strong>Email:</strong><br>
		<% if @person.email.present? && @person.email[0..3]=="http"%>
		  <%= image_tag(@person.email, :alt => "rss feed") %>
		<% else %>
		  <%= @person.email %>
	    <% end %>
	    </p>
		<%= render partial: 'layouts/section', locals: {heading: "Tel [work]", content: @person.phonework, content_newline: true} %>
		<%= render partial: 'layouts/section', locals: {heading: "Tel [mobile]", content: @person.phonecell, content_newline: true} %>
		<%= render partial: 'layouts/section', locals: {heading: "Tel [home]", content: @person.phonehome, content_newline: true} %>
		<%= render partial: 'layouts/section', locals: {heading: "Fax [work]", content: @person.fax, content_newline: true} %>
		<% if !@person.url.blank?%>
		  <%= link_to "Web Page", @person.url %>
		<% end %>

		
	</div>
	<div class="col-xs-9">
		<%= render partial: 'layouts/section', locals: {heading: "Biography", content: @person.biography} %> 
		<% if @person.bs_year.present? || @person.ms_year.present? || @person.phd_title.present? %>
		  <p><strong>Education: </strong>
			  <ul>
				  <% if @person.bs_year.present? %>
				    <li>
						<%= @person.bs_title %> in <%= @person.bs_field %>, <%= @person.bs_school %>, <%= @person.bs_year %>.
						<% if @person.bs_in_lab.present? && @person.bs_in_lab %>
						  <br>(done at <%= ENV["LABACRONYM"] %>)
						<% end %>
					</li>
				  <% end %>
				  <% if @person.ms_year.present? %>
				    <li>
						<%= @person.ms_title %> in <%= @person.ms_field %>, <%= @person.ms_school %>, <%= @person.ms_year %>.
						<% if @person.ms_thesis.present? %>
						  <br>Thesis: <%= @person.ms_thesis%>
						<% end %>
						<% if @person.ms_in_lab.present? && @person.ms_in_lab %>
						  <br>(done at <%= ENV["LABACRONYM"] %>)
						<% end %>
					</li>
				  <% end %>
				  <% if @person.phd_year.present? %>
				    <li>
						<%= @person.phd_title %> in <%= @person.phd_field %>, <%= @person.phd_school %>, <%= @person.phd_year %>.
						<% if @person.phd_thesis.present? %>
						  <br>Thesis: <%= @person.phd_thesis%>
						<% end %>
						<% if @person.phd_in_lab.present? && @person.phd_in_lab %>
						  <br>(done at <%= ENV["LABACRONYM"] %>)
						<% end %>
					</li>
				  <% end %>
			  </ul>
		  </p>
		<% else %>
		  <%= render partial: 'layouts/section', locals: {heading: "Education", content: @person.education} %> 
		<% end %>
		
		<%= render partial: 'layouts/section', locals: {heading: "Experience", content: @person.professionalexperience} %> 
		<%= render partial: 'layouts/section', locals: {heading: "Service", content: @person.professionalservice} %> 
		<%= render partial: 'layouts/section', locals: {heading: "Research Interests", content: @person.researchinterests} %> 
		<p><strong>Recent Publications: </strong>
			<ul>
				<% @person.documents.order(pubdate: :desc)[0..9].each do |document| %>
				  <li><%= document.citation_formatted() %> [ <%= link_to 'Details', document %> ]</li>
				<% end %>
			</ul>
			<ul style="list-style-type:none">
			    <li><%= link_to "More Publications...", documents_path(:person_id => @person.id) %></li>
		    </ul>
		</p>		
		<%= render partial: 'layouts/section', locals: {heading: "Other Publications", content: @person.otherpublications} %> 
		<%= render partial: 'layouts/section', locals: {heading: "Patents", content: @person.patents} %> 
		<%= render partial: 'layouts/section', locals: {heading: "Awards", content: @person.awards} %> 
		<%= render partial: 'layouts/section', locals: {heading: "Skills", content: @person.skills} %> 
		<%= render partial: 'layouts/section', locals: {heading: "Secretary", content: @person.secretary} %> 
        
		<% if @person.miscattributes.present? %>
          <% @person.miscattributes.each do |key, value| %>
		    <%= render partial: 'layouts/section', locals: {heading: @key, content: @value} %>
		  <% end %>
		<% end %>	
	</div>
	
</div>

<div class="panel-footer" style="margin-top: 20px">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_person_path(@person) %> |
    <%= link_to 'Delete', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
  <%= link_to 'Back', people_path %>
</div>





