
<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Middleinitial:</strong>
  <%= @person.middleinitial %>
</p>

<p>
  <strong>Webname:</strong>
  <%= @person.webname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @person.url %>
</p>

<p>
  <strong>Urlphoto:</strong>
  <%= @person.urlphoto %>
</p>

<p>
  <strong>Phonework:</strong>
  <%= @person.phonework %>
</p>

<p>
  <strong>Phonehome:</strong>
  <%= @person.phonehome %>
</p>

<p>
  <strong>Phonecell:</strong>
  <%= @person.phonecell %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @person.fax %>
</p>

<p>
  <strong>Addressoffice:</strong>
  <%= @person.addressoffice %>
</p>

<p>
  <strong>Addresslab:</strong>
  <%= @person.addresslab %>
</p>

<p>
  <strong>Addressmail:</strong>
  <%= @person.addressmail %>
</p>

<p>
  <strong>Department:</strong>
  <%= @person.department %>
</p>

<p>
  <strong>Urldepartment:</strong>
  <%= @person.urldepartment %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @person.organization %>
</p>

<p>
  <strong>Urlorganization:</strong>
  <%= @person.urlorganization %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @person.biography %>
</p>

<p>
  <strong>Researchinterests:</strong>
  <%= @person.researchinterests %>
</p>

<p>
  <strong>Education:</strong>
  <%= @person.education %>
</p>

<p>
  <strong>Professionalexperience:</strong>
  <%= @person.professionalexperience %>
</p>

<p>
  <strong>Professionalservice:</strong>
  <%= @person.professionalservice %>
</p>

<p>
  <strong>Otherpublications:</strong>
  <%= @person.otherpublications %>
</p>

<p>
  <strong>Patents:</strong>
  <%= @person.patents %>
</p>

<p>
  <strong>Awards:</strong>
  <%= @person.awards %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @person.skills %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @person.interests %>
</p>

<p>
  <strong>Secretary:</strong>
  <%= @person.secretary %>
</p>

<p>
  <strong>Bs year:</strong>
  <%= @person.bs_year %>
</p>

<p>
  <strong>Bs title:</strong>
  <%= @person.bs_title %>
</p>

<p>
  <strong>Bs school:</strong>
  <%= @person.bs_school %>
</p>

<p>
  <strong>Bs field:</strong>
  <%= @person.bs_field %>
</p>

<p>
  <strong>Bs in lab:</strong>
  <%= @person.bs_in_lab %>
</p>

<p>
  <strong>Ms year:</strong>
  <%= @person.ms_year %>
</p>

<p>
  <strong>Ms title:</strong>
  <%= @person.ms_title %>
</p>

<p>
  <strong>Ms school:</strong>
  <%= @person.ms_school %>
</p>

<p>
  <strong>Ms field:</strong>
  <%= @person.ms_field %>
</p>

<p>
  <strong>Ms thesis:</strong>
  <%= @person.ms_thesis %>
</p>

<p>
  <strong>Ms in lab:</strong>
  <%= @person.ms_in_lab %>
</p>

<p>
  <strong>Phd year:</strong>
  <%= @person.phd_year %>
</p>

<p>
  <strong>Phd title:</strong>
  <%= @person.phd_title %>
</p>

<p>
  <strong>Phd school:</strong>
  <%= @person.phd_school %>
</p>

<p>
  <strong>Phd field:</strong>
  <%= @person.phd_field %>
</p>

<p>
  <strong>Phd thesis:</strong>
  <%= @person.phd_thesis %>
</p>

<p>
  <strong>Phd in lab:</strong>
  <%= @person.phd_in_lab %>
</p>

<p>
  <strong>Miscattributes:</strong>
  <%= @person.miscattributes %>
</p>

<p>
  <strong>Person category:</strong>
  <%= @person.person_category %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
