<% provide(:title, 'Carousel Items') %>

<h1>Listing Carousel Items</h1>

<table>
  <thead>
    <tr>
      <th>Itemtype</th>
      <th>Caption</th>
      <th>Sourceurl</th>
      <th>Description</th>
      <th>Gotourl</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carousel_items.each do |carousel_item| %>
      <tr>
        <td><%= carousel_item.itemtype %></td>
        <td><%= carousel_item.caption %></td>
        <td><%= carousel_item.sourceurl %></td>
        <td><%= carousel_item.description %></td>
        <td><%= carousel_item.gotourl %></td>
        <td><%= carousel_item.position %></td>
        <td><%= link_to 'Show', carousel_item %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_carousel_item_path(carousel_item) %></td>
          <td><%= link_to 'Destroy', carousel_item, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Carousel item', new_carousel_item_path %>
<% end %>