<% provide(:title, 'Documents') %>

<br>
<div class="row">
	<div class ="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<ul class =" nav nav-pills nav-stacked affix">
			<% @document_categories.order(:name).each_with_index do |item, index| %>
				<li <% if index==0 %> class="active"<% end %>><a href ="# <%= index %>"><%= item.name %></a></li>
			<% end %>
			</ul >
	</div>
	<div class ="col-xs-9 col-sm-9 col-md-9 col-lg-9">
		<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	    <h1 class="panel-title">Documents from <%= ENV["LABACRONYM"]%></h1>
	  </div>

	  <div class="panel-body">
	    <% @document_categories.order(:name).each_with_index do |item, index| %>
		    <!-- Table -->
		    <table class="table table-condensed">
		      <thead>
		      <tr>
		        <th class="col-md-6"><%= item.name %></th>
		      </tr>
		      </thead>

		      <tbody>
		      <% @documents.each do |document| %>
		          <tr>
		            <td><%= document.citation() %><br>
		            [<%= link_to 'Show', document %>
		            <% if user_signed_in? && current_user.admin? %>
		                , <%= link_to 'Edit', edit_document_path(document) %>
		                , <%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>
		            <% end %>
		            ]</td>
		          </tr>
		      <% end %>
		      </tbody>
		    </table>
		<% end %>
	  </div>
	  <div class="panel-footer">
	    <% if user_signed_in? %>
	        <% if current_user.admin? %>
	            <%= link_to 'New Document', new_document_path %>
	        <% end %>
	    <% end %>
	  </div>
	</div>
	</div>
</div>
