
<p>
  <strong>Tryear:</strong>
  <%= @document.tryear %>
</p>

<p>
  <strong>Trmonth:</strong>
  <%= @document.trmonth %>
</p>

<p>
  <strong>Trnumber:</strong>
  <%= @document.trnumber %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @document.abstract %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @document.filename %>
</p>

<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>

<p>
  <strong>Urlpdfpaper:</strong>
  <%= @document.urlpdfpaper %>
</p>

<p>
  <strong>Urlsrcpaper:</strong>
  <%= @document.urlsrcpaper %>
</p>

<p>
  <strong>Urlpdfpresentation:</strong>
  <%= @document.urlpdfpresentation %>
</p>

<p>
  <strong>Urlsrcpresentation:</strong>
  <%= @document.urlsrcpresentation %>
</p>

<p>
  <strong>Urlavmedia:</strong>
  <%= @document.urlavmedia %>
</p>

<p>
  <strong>Urldoi:</strong>
  <%= @document.urldoi %>
</p>

<p>
  <strong>Urlpublisher:</strong>
  <%= @document.urlpublisher %>
</p>

<p>
  <strong>Urlgooglescholar:</strong>
  <%= @document.urlgooglescholar %>
</p>

<p>
  <strong>Urlciteseer:</strong>
  <%= @document.urlciteseer %>
</p>

<p>
  <strong>Pubin:</strong>
  <%= @document.pubin %>
</p>

<p>
  <strong>Pubvol:</strong>
  <%= @document.pubvol %>
</p>

<p>
  <strong>Pubnum:</strong>
  <%= @document.pubnum %>
</p>

<p>
  <strong>Pubnum end:</strong>
  <%= @document.pubnum_end %>
</p>

<p>
  <strong>Pubpagefirst:</strong>
  <%= @document.pubpagefirst %>
</p>

<p>
  <strong>Pubpagelast:</strong>
  <%= @document.pubpagelast %>
</p>

<p>
  <strong>Pubpagecount:</strong>
  <%= @document.pubpagecount %>
</p>

<p>
  <strong>Pubdate:</strong>
  <%= @document.pubdate %>
</p>

<p>
  <strong>Pubdate end:</strong>
  <%= @document.pubdate_end %>
</p>

<p>
  <strong>Pubplace:</strong>
  <%= @document.pubplace %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @document.publisher %>
</p>

<p>
  <strong>Ispublic:</strong>
  <%= @document.ispublic %>
</p>

<p>
  <strong>Islabdocument:</strong>
  <%= @document.islabdocument %>
</p>

<p>
  <strong>Miscattributes:</strong>
  <%= @document.miscattributes %>
</p>

<p>
  <strong>Document category:</strong>
  <%= @document.document_category %>
</p>

<p>
  <strong>Main research area:</strong>
  <%= @document.main_research_area %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
