<div class="bheader">
	<%= link_to_unless(@document.urlpdfpaper.nil?, @document.title) %>
	<span class="category">[<%= @document.document_category.name %>]</span>
</div>
<p>
	<%= @document.citation() %>
</p>

<% if @document.tryear.present? && @document.trmonth.present? && @document.trnumber.present? %>
<p>
  <strong><%= ENV["LABACRONYM"]%> Technical Report #:</strong>
  <%= "#{@document.tryear}-#{@document.trmonth}-#{@document.trnumber}" %>
</p>
<% end %>

<% if @document.abstract.present? %>
<p>
  <strong>Abstract:</strong>
  <%= @document.abstract %>
</p>
<% end %>

<% if @document.filename.present? %>
<p>
  <strong>Filename:</strong>
  <%= @document.filename %>
</p>
<% end %>

<% if @document.file.present? %>
<p>
  <strong>File:</strong>
  <%= @document.file %>
</p>
<% end %>

<% if @document.urlpdfpaper.present? %>
<p>
  <strong>Paper (PDF):</strong>
  <%= link_to @document.urlpdfpaper %>
</p>
<% end %>

<% if @document.urlsrcpaper.present? %>
<p>
  <strong>Paper (Source):</strong>
  <%= link_to @document.urlsrcpaper %>
</p>
<% end %>

<% if @document.urlpdfpresentation.present? %>
<p>
  <strong>Presentation (PDF):</strong>
  <%= link_to @document.urlpdfpresentation %>
</p>
<% end %>

<% if @document.urlsrcpresentation.present? %>
<p>
  <strong>Presentation (Source):</strong>
  <%= link_to @document.urlsrcpresentation %>
</p>
<% end %>

<% if @document.urlavmedia.present? %>
<p>
  <strong>Media:</strong>
  <%= link_to @document.urlavmedia %>
</p>
<% end %>

<% if @document.urldoi.present? %>
<p>
  <strong>DOI:</strong>
  <%= link_to @document.urldoi %>
</p>
<% end %>

<% if @document.urlpublisher.present? %>
<p>
  <strong>Publisher:</strong>
  <%= link_to @document.urlpublisher %>
</p>
<% end %>

<% if @document.urlgooglescholar.present? %>
<p>
  <strong>Google Scholar:</strong>
  <%= link_to @document.urlgooglescholar %>
</p>
<% end %>

<% if @document.urlciteseer.present? %>
<p>
  <strong>Citeseer:</strong>
  <%= link_to @document.urlciteseer %>
</p>
<% end %>

<% if @document.pubin.present? %>
<p>
  <strong>Publication Forum:</strong>
  <%= @document.pubin %>
</p>
<% end %>

<% if @document.pubvol.present? %>
<p>
  <strong>Volume:</strong>
  <%= @document.pubvol %>
</p>
<% end %>

<% if @document.pubnum.present? %>
<p>
  <strong>Number:</strong>
  <%= @document.pubnum %>
</p>
<% end %>

<% if @document.pubnum_end.present? %>
<p>
  <strong>Number (End):</strong>
  <%= @document.pubnum_end %>
</p>
<% end %>

<% if @document.pubpagefirst.present? %>
<p>
  <strong>Page:</strong>
  <%= @document.pubpagefirst %>
</p>
<% end %>

<% if @document.pubpagelast.present? %>
<p>
  <strong>Page (End):</strong>
  <%= @document.pubpagelast %>
</p>
<% end %>

<% if @document.pubpagecount.present? && @document.pubpagecount!="0" %>
<p>
  <strong>Page (Count):</strong>
  <%= @document.pubpagecount %>
</p>
<% end %>

<% if @document.pubdate.present? %>
<p>
  <strong>Date:</strong>
  <%= @document.pubdate %>
</p>
<% end %>

<% if @document.pubdate_end.present? %>
<p>
  <strong>Date (End):</strong>
  <%= @document.pubdate_end %>
</p>
<% end %>

<% if @document.pubplace.present? %>
<p>
  <strong>Place:</strong>
  <%= @document.pubplace %>
</p>
<% end %>

<% if @document.publisher.present? %>
<p>
  <strong>Publisher:</strong>
  <%= @document.publisher %>
</p>
<% end %>

<% if @document.ispublic.present? %>
<p>
  <strong>Public Document?:</strong>
  <%= @document.ispublic ? "Yes" : "No" %>
</p>
<% end %>

<% if @document.islabdocument.present? %>
<p>
  <strong><%= ENV["LABACRONYM"] %> Document?:</strong>
  <%= @document.islabdocument ? "Yes" : "No" %>
</p>
<% end %>

<% if @document.miscattributes.present? %>
<p>
  <strong>Other Attributes:</strong>
  <%= @document.miscattributes %>
</p>
<% end %>

<% if @document.document_category.present? %>
<p>
  <strong>Document category:</strong>
  <%= @document.document_category %>
</p>
<% end %>

<% if @document.main_research_area.present? %>
<p>
  <strong>Primary Research Area:</strong>
  <%= @document.main_research_area %>
</p>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Delete', document_path(@document), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', documents_path %>
