<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table-condensed lw-table">
  <tbody>
  <tr><td>
  <div class="field">
    <%= f.label :name, "Short Name" %><br>
    <%= f.text_field :name, size: 20 %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title,  size: 100 %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :description, "Synopsis" %><br>
    <%= f.text_area :description, size: "103x10" %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :isactive, "Is this project active?" %>&nbsp;&nbsp;
    <%= f.check_box :isactive %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :url, "Project Home Page URL" %><br>
    <%= f.text_field :url,  size: 100  %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :miscattributes, "Miscellaneous Attributes (e.g 'a=>1,b=>2')" %><br>
    <%= f.text_field :miscattributes,  size: 100  %>
  </div>
  </td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :main_research_area_id, "Main Research Area:" %>&nbsp;&nbsp;
	<%= f.select("main_research_area_id", ResearchArea.all.collect{|ra| [ ra.name, ra.id ] }, {include_blank: 'None'})%>
  </div>
  </td></tr>
  
  <tr><td>
	<%= f.label :people, "Participants:" %>&nbsp;&nbsp;
	<%= f.select("people", Person.all.order(:firstname).collect{|p| [ p.firstname+" "+p.lastname, p.id ] }, {include_blank: 'None'}, { :multiple => true, :size => 5 })%>
  </td></tr>
  
  <tr><td>
  <div class="actions">
    <%= f.submit %>
  </div>
  </td></tr>
  </tbody>
  </table>
<% end %>
