<% provide(:title, 'Projects') %>
<% provide(:scrollspytag, "myScrollspy")%>


<!--sidenav-->
<div class="lw-content-sidenav-without-second-nav" id="myScrollspy">
  <ul class="sidenav nav nav-pills nav-stacked" id="mySidenav">
    <% @research_areas.each_with_index do |research_area, index| %>
      <li <% if index==0 %> class="active" <% end %> >
        <a href="#<%= index==0 ? index : index+1 %>"><%= research_area.name %>
          <span class="glyphicon glyphicon-menu-right"></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>


<!--content-->
<div class="lw-content-without-second-nav row">
  <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3" id="sidenavholder">&nbsp;</div>
  <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9">
    <div class="panel panel-default lw-content-without-second-nav">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <h1 class="panel-title"><a id="0" class="anchorwithoffset"></a>Projects @ <%= ENV["LABACRONYM"]%></h1>
        <% if user_signed_in? %>
          <span style='float:right; margin-top:-18px'><%= link_to 'New Project', new_project_path %></span>
        <% end %>
      </div>
  
      <div class="panel-body">
        <% @research_areas.each_with_index do |research_area, index| %>
          <h4><a id="<%= index+1 %>" class="anchorwithoffset"></a><%= research_area.name %></h4>
          <% @projects.select{|x| x.main_research_area.name == research_area.name}
                      .sort{|a,b| (a.isactive? ? 0 : 1) <=> (b.isactive? ? 0 : 1)}.each do |p| %>
            <div class="panel-group">
              <div class="panel panel-default">
                <a data-toggle="collapse" href=<%= "\#" + p.name %> style="display: block" class="project-title-a">
                  <div class="panel-heading <%= p.isactive? ? "active-project" : "inactive-project" %>">
                    <h4 class="panel-title project-title-a">
                        <em><%= p.name %>:</em> <%= p.title %>
                        <%= p.isactive? ? "" : "(Inactive)" %>
                    </h4>
                  </div>
                </a>
                <div id=<%= p.name %> class="panel-collapse collapse">
                  <div class="panel-body">
                    <%= p.description.blank? ? "TBA" : p.description.html_safe() %>
                    <p>[ 
                      <% if user_signed_in? %>
                        <%= link_to "Details,", p %>
                        <%= link_to "Edit,", edit_project_path(p) %>
                        <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                        <%= link_to "Details", p %>
                      <% end %>
                    ]</p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>

          <div style='height: 20px'>&nbsp;</div>

        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="panel-footer">
          <%= link_to 'New Project', new_project_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!--adjust sidenav width-->
<script>
function resize() {
  $("#mySidenav").width($("#sidenavholder").width() + 20);
}

resize();
window.onresize = resize;

</script>

