<% provide(:title, 'Projects') %>

<div class="panel panel-default lw-content-without-second-nav">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Projects @ <%= ENV["LABACRONYM"]%></h1>
  </div>
  
  <div class="panel-body">
	  <table class="table-condensed lw-table">
	  <% @projects.group_by{|x| x.main_research_area.name}.sort.each do |area_name, project_list| %>
	    <tbody>
			<tr>
				<th>
					<%= area_name %>
				</th>
			</tr>
			<tr>
				<td>
				<ul style="list-style-type:none">
				<li>Active Projects:</li>
				<ul>
			      <% project_list.select{|x| x.isactive}.each do |p| %>
				     <li>
					 <em><%= p.name %>:</em> <%= p.title %>
                     [ 
					    
						<% if user_signed_in? && current_user.admin? %>
						  <%= link_to "Details,", p %>
						  <%= link_to "Edit,", edit_project_path(p) %>
						  <%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
						<% else %>
						  <%= link_to "Details", p %>
						<% end %>
					 ]
				     </li>
			      <% end %>
			    </ul>
			    </td>
		    </tr>
			<tr>
				<td>
				<ul style="list-style-type:none">
				<li>Retired Projects:</li>
  				<ul>
  			    <% project_list.select{|x| !x.isactive}.each do |p| %>
  				     <li>
  					 <em><%= p.name %>:</em> <%= p.title %>
                       [ 
  					    <%= link_to "Details", p %> 
  						<% if user_signed_in? && current_user.admin? %>
  						  <%= link_to ", Edit", edit_project_path(p) %>
  						  <%= link_to ', Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %>
  						<% end %>
  					  ]
  				      </li>
  			      <% end %>
  			      </ul>
  			      </td>
  			  </tr>
			
	  <% end %>
	  </table>
  </div>

  
   <% if user_signed_in? %>
     <% if current_user.admin? %>
	   <div class="panel-footer">
       <%= link_to 'New Project', new_project_path %>
	   </div>
     <% end %>
    <% end %>
  
</div>
