<div class="row bheader">
	Project: <%= @project.name%>
</div>

	<%= render partial: 'layouts/section', locals: {heading: "Name", content: @project.name} %>
	<%= render partial: 'layouts/section', locals: {heading: "TItle", content: @project.title} %>
	<%= render partial: 'layouts/section', locals: {heading: "Description", content: @project.description} %>
	<%= render partial: 'layouts/section', locals: {heading: "Status", content: @project.isactive ? "Active Project":"Inactive Project"} %>
	<%= render partial: 'layouts/section', locals: {heading: "Main Research Area", content: @project.main_research_area.name} %>
	<% if @project.miscattributes.present? %>
      <% @project.miscattributes.each do |key, value| %>
	    <%= render partial: 'layouts/section', locals: {heading: @key, content: @value} %>
	  <% end %>
	<% end %>
	<% if @project.url.present? %>
	  <%= link_to "Web Page", @project.url %>
	<% end %>
	<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
