<div class="row bheader">
	Project: <%= @project.name%>
</div>

<%= render partial: 'layouts/section', locals: {heading: "Name", content: @project.name} %>
<%= render partial: 'layouts/section', locals: {heading: "TItle", content: @project.title} %>
<%= render partial: 'layouts/section', locals: {heading: "Description", content: @project.description} %>
<%= render partial: 'layouts/section', locals: {heading: "Status", content: @project.isactive ? "Active Project":"Inactive Project"} %>
<%= render partial: 'layouts/section', locals: {heading: "Main Research Area", content: @project.main_research_area.name} %>
<% if @project.miscattributes.present? %>
  <% @project.miscattributes.each do |key, value| %>
    <%= render partial: 'layouts/section', locals: {heading: @key, content: @value} %>
  <% end %>
<% end %>

<% if @project.people.length > 0 %>
<p><strong>Participants:</strong>
	<ul>
		<% @project.people.sort{|p1,p2| p1.firstname==p2.firstname ? p1.lastname<=>p2.lastname : p1.firstname<=>p2.firstname }.each do |person| %>
		  <li><%= link_to "#{person.firstname} #{person.lastname}", person_path(person) %></li>
		<% end %>
	</ul>
</p>
<% end %>

<% if @project.research_areas.length > 0 %>
<p><strong>Research Areas:</strong>
	<ul>
		<% @project.research_areas.each do |ra| %>
		  <li><%= link_to "#{ra.name}", research_area_path(ra) %></li>
		<% end %>
	</ul>
</p>
<% end %>

<% if @project.documents.length > 0 %>
<p><strong>Documents:</strong>
	<ul>
		<% @project.documents.each do |document| %>
		  <li><%= document.citation_formatted() %> [ <%= link_to "Details", document_path(document) %> ]</li>
		<% end %>
	</ul>
</p>
<%end%>

<% if @project.products.length > 0 %>
<p><strong>Products:</strong>
	<ul>
		<% @project.products.each do |product| %>
		  <li><%= product.title %> [ <%= link_to "Details", product_path(product) %> ]</li>
		<% end %>
	</ul>
</p>
<%end%>

<% if @project.grants.length > 0 %>
<p><strong>Grants:</strong>
	<ul>
		<% @project.grants.each do |grant| %>
		  <li><%= link_to "#{grant.name}", grant_path(grant) %></li>
		<% end %>
	</ul>
</p>
<%end%>

<% if @project.url.present? %>
  <p><strong><%= link_to "Web Page", @project.url, :target => "_blank" %></strong></p>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', projects_path %>
