
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @project.isactive %>
</p>

<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>

<p>
  <strong>Miscattributes:</strong>
  <%= @project.miscattributes %>
</p>

<p>
  <strong>Main research area:</strong>
  <%= @project.main_research_area %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
