<script>
  $(document).ready(function () {
      $('#myCarousel').carousel({
          interval: 10000
      })
      $('.carousel .item').each(function () {
          var next = $(this).next();
          if (!next.length) {
              next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
          if (next.next().length > 0) {
              next.next().children(':first-child').clone().appendTo($(this));
          } else {
              $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
          }
      });
  });
</script>

<% provide(:title, 'Welcome') %>

<br>
<div class="container">

  <!-- Row 1: overview + carousel -->
  <div class="row">
    <div class="carousel slide col-md-12" id="myCarousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% for i in 0..@carousel_items.length - 1 %>
          <% if i == 0 %> 
            <li data-target="#myCarousel" data-slide-to=<%= i%> class=active></li>
          <% else %>
            <li data-target="#myCarousel" data-slide-to=<%= i%>></li>
          <% end %>
        <% end %>
      </ol>

      <!-- Slides -->
      <div class="carousel-inner">
        <% @carousel_items.each_with_index do |carousel_item, index| %>
          <% if index == 0 %>
            <div class="item active carouselImg">
          <% else %>
            <div class="item carouselImg">
          <% end %>
              <div class="col-xs-4">
                <a href=<%= carousel_item.gotourl %> target="_blank">
                  <img src=<%= carousel_item.localphoto %> class="img-responsive" alt=<%= carousel_item.caption %> >
                </a>
              </div>
            </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <span class="break-wo" style="white-space: normal !important;">
        <% if @overview then %>
          <%= @overview.body.html_safe %>
        <% else %>
          <%= ENV["LABDESCRIPTION"] %>
        <% end %>
      </span>
    </div>
  </div>

  <!-- Row 2: news + recent papers + projects -->
  <div class="row">
    <div class="col-md-3">
      <h3>News</h3>
      <% @recent_news.each do |n| %>
      <p> 
        &bull; <%=n.title%> (<%=n.date%>) [<%= link_to "Details", n %>]
      </p>
      <% end %>
      <p><a class="btn btn-default" href="<%= news_events_path %>" role="button">View more &raquo;</a></p>
    </div>

    <div class="col-md-6">
      <h3>Recent Papers</h3>
  	  <% @recent_pubs.each do |d| %>
  	  <p>
  		  &bull; <%= d.citation() %>
        [ <%= link_to 'Details', d %> ]
  	  </p>
  	  <% end %>
  	  <p><a class="btn btn-default" href="<%= documents_path %>" role="button">View more &raquo;</a></p>
    </div>

    <div class="col-md-3">
      <h3>Projects</h3>
      <% @select_projects.each do |p| %>
        <p>
        &bull; <%= p.name %> [<%= link_to "Details", p %>]
      </p>
      <% end %>
      <p><a class="btn btn-default" href="<%= projects_path %>" role="button">View more &raquo;</a></p>
    </div>
  </div>

  <!-- Empty row for space -->
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <!-- Row 4: dashboard + interested in join + funding -->
  <div class="row">
    <div class="col-md-3">
      <h3>Funding</h3>
      <div class="row">
        <div class="col-md-6">
          <a href="http://www.nsf.gov/" target="_blank"><img src="http://www.nsf.gov/images/logos/nsf4sm.jpg" style="width: 100px; height: 100px" alt="NSF Logo" ></a>
        </div>
        <div class="col-md-6">
          <a href="http://www.nih.gov/" target="_blank"><img src="http://www.nih.gov/sites/default/files/styles/featured_media_breakpoint-large/public/about-nih/2012-logo.png" style="width: 100px; height: 100px" alt="NIH Logo" ></a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <a href="http://www.arl.army.mil/" target="_blank"><img src="https://www.icb.ucsb.edu/sites/www.icb.ucsb.edu/files/images/collaborations/ARL_logo.png" style="width: 100px; height: 50px" alt="ARL Logo" ></a>
        </div>
        <div class="col-md-6">
          <a href="http://www.darpa.mil/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/DARPA_Logo.jpg/440px-DARPA_Logo.jpg" style="width: 100px; height: 50px" alt="DARPA Logo" ></a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <a href="http://www.kaust.edu.sa/" target="_blank"><img src="http://www.kaust.edu.sa/assets/images/logo.png" style="width: 80px; height: 80px" alt="KAUST Logo" ></a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="col-md-6">
  		<h3>Interested in <%= ENV["LABACRONYM"] %>?</h3>
  		<p>&bull; <%= link_to "Prospective M.S. or Ph.D. students", "/joining#newgrad" %></p>
  		<p>&bull; <%= link_to "Graduate students  at #{ENV["UNIVACRONYM"]}", "/joining#currgrad" %></p>
  		<p>&bull; <%= link_to "Undergraduate students at #{ENV["UNIVACRONYM"]}", "/joining#currugrad" %></p>
  		<p>&bull; <%= link_to "Prospective Post-doctoral Scholars", "/joining#postdocs" %></p>
  		<p>&bull; <%= link_to "Industrial Visitors", "/joining#industryvisitors" %></p>
  		<p>&bull; <%= link_to "Visiting Faculty", "/joining#visitingfaculty" %></p>
  		<p>&bull; <%= link_to "Interns from outside #{ENV["UNIVACRONYM"]}", "/joining#interns" %></p>
    </div>
    <div class="col-md-3">
      <h3>Dashboard</h3>
      <a class="twitter-timeline" href="https://twitter.com/hashtag/UCLA" data-widget-id="704788138921578496">#UCLA Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>
