<div class="row bheader">
<%= @web_page.bartitle %>
</div>

<%= @web_page.body.html_safe() %>

<% if !@web_page.url.blank? %>
<a href=<%= @web_page.url %>>Link</a>
<% end %>

<div class="panel-footer" style="margin-top: 20px">
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_web_page_path(@web_page) %> |
<% end %>
<%= link_to 'Back', web_pages_path %>
</div>
