<% provide(:title, 'Grants') %>

<div class="panel panel-default lw-content-without-second-nav">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Grants @ <%= ENV["LABACRONYM"]%></h1>
  </div>
  
  <div class="panel-body">
	  <table class="table-condensed lw-table">
	    <tbody>
			<% if @grants.any? {|x| x.isactive} %>
			<tr> <th> Active Grants: </th> </tr>
			<tr>
				<td>
				<ul style="list-style-type:none">
					<% @grants.select{|x| x.isactive}.each do |g| %>
					<li>
						<em><%= g.name %>:</em> <%= g.title %>
                        [  
						<% if user_signed_in? && current_user.admin? %>
						  <%= link_to "Details,", g %>
						  <%= link_to "Edit,", edit_grant_path(g) %>
						  <%= link_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' } %>
						<% else %>
						  <%= link_to "Details", g %>
						<% end %>
					    ]
				    </li>
			        <% end %>
			    </ul>
			    </td>
		    </tr>
			<% end %>
			<% if @grants.any? {|x| !x.isactive} %>
				<tr> <th> Inactive Grants: </th> </tr>
				<tr>
					<td>
					<ul style="list-style-type:none">
						<% @grants.select{|x| !x.isactive}.each do |g| %>
						<li>
							<em><%= g.name %>:</em> <%= g.title %>
	                        [  
							<% if user_signed_in? && current_user.admin? %>
							  <%= link_to "Details,", g %>
							  <%= link_to "Edit,", edit_grant_path(g) %>
							  <%= link_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' } %>
							<% else %>
							  <%= link_to "Details", g %>
							<% end %>
						    ]
					    </li>
				        <% end %>
				    </ul>
				    </td>
			    </tr>
			<% end %>
	    </tbody>
	  </table>
  </div>

  
   <% if user_signed_in? %>
     <% if current_user.admin? %>
	   <div class="panel-footer">
       <%= link_to 'New Project', new_project_path %>
	   </div>
     <% end %>
   <% end %>
  
</div>