
<p>
  <strong>Name:</strong>
  <%= @grant.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @grant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @grant.description %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @grant.isactive %>
</p>

<p>
  <strong>Url:</strong>
  <%= @grant.url %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @grant.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @grant.enddate %>
</p>

<p>
  <strong>Totalawardamount:</strong>
  <%= @grant.totalawardamount %>
</p>

<p>
  <strong>Fundingagencyname:</strong>
  <%= @grant.fundingagencyname %>
</p>

<p>
  <strong>Awardnumber:</strong>
  <%= @grant.awardnumber %>
</p>

<p>
  <strong>Fundingagencyurl:</strong>
  <%= @grant.fundingagencyurl %>
</p>

<p>
  <strong>Fundingagencylogourl:</strong>
  <%= @grant.fundingagencylogourl %>
</p>

<p>
  <strong>Fundingagencygranturl:</strong>
  <%= @grant.fundingagencygranturl %>
</p>

<p>
  <strong>Programname:</strong>
  <%= @grant.programname %>
</p>

<p>
  <strong>Programurl:</strong>
  <%= @grant.programurl %>
</p>

<p>
  <strong>Miscattributes:</strong>
  <%= @grant.miscattributes %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
