<div class="row bheader">
	Grant: <%= @grant.name%>
</div>

<%= render partial: 'layouts/section', locals: {heading: "Title", content: @grant.title} %>
<%= render partial: 'layouts/section', locals: {heading: "Description", content: @grant.description} %>
<%= render partial: 'layouts/section', locals: {heading: "Status", content: @grant.isactive ? "Active Grant":"Inactive Grant"} %>
<%= render partial: 'layouts/section', locals: {heading: "Start Date", content: @grant.startdate.inspect} %>
<%= render partial: 'layouts/section', locals: {heading: "End Date", content: @grant.enddate.inspect} %>
<%= render partial: 'layouts/section', locals: {heading: "Award Amount", content: @grant.totalawardamount} %>

<% if @grant.fundingagencyurl.present? %>
  <%= render partial: 'layouts/section', locals: {heading: "Funding Agencty", content: @grant.fundingagencyname, url: @grant.fundingagencyurl} %>
<% else %>
  <%= render partial: 'layouts/section', locals: {heading: "Funding Agencty", content: @grant.fundingagencyname} %>
<% end %>

<% if @grant.fundingagencylogourl.present? && url_exists?(@@grant.fundingagencylogourl) %>
  <%= image_tag(@grant.fundingagencylogourl, :alt => "image", :height => "40") %>
<% end %>


<% if @grant.fundingagencygranturl.present? %>
  <%= render partial: 'layouts/section', locals: {heading: "Award #", content: @grant.awardnumber, url: @grant.fundingagencygranturl} %>
<% else %>
  <%= render partial: 'layouts/section', locals: {heading: "Award #", content: @grant.awardnumber} %>
<% end %>

<% if @grant.programurl.present? %>
  <%= render partial: 'layouts/section', locals: {heading: "Program", content: @grant.programname, url: @grant.programurl} %>
<% else %>
  <%= render partial: 'layouts/section', locals: {heading: "Program", content: @grant.programname} %>
<% end %>

<% if @grant.miscattributes.present? %>
  <% @grant.miscattributes.each do |key, value| %>
    <%= render partial: 'layouts/section', locals: {heading: @key, content: @value} %>
  <% end %>
<% end %>

<% if @grant.projects.length>0 %>
<strong>Projects:</strong>
<ul>
	<% @grant.projects.each do |p| %>
	  <li><%= link_to p.name, project_path(p) %></li>
	<% end %>
</ul>
<% end %>

<% if @grant.url.present? %>
  <%= link_to "Web Page", @grant.url %>
<% end %>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
