<div class="row bheader">
	Grant: <%= @grant.name%>
</div>

<%= render partial: 'layouts/section', locals: {heading: "Title", content: @grant.title} %>
<%= render partial: 'layouts/section', locals: {heading: "Description", content: @grant.description} %>
<%= render partial: 'layouts/section', locals: {heading: "Status", content: @grant.isactive ? "Active Grant":"Inactive Grant"} %>
<%= render partial: 'layouts/section', locals: {heading: "Start Date", content: @grant.startdate.inspect} %>
<%= render partial: 'layouts/section', locals: {heading: "End Date", content: @grant.enddate.inspect} %>
<%= render partial: 'layouts/section', locals: {heading: "Award Amount", content: @grant.totalawardamount} %>

<% if @grant.fundingagencyurl.present? %>
  <%= render partial: 'layouts/section', locals: {heading: "Funding Agencty", content: @grant.fundingagencyname, url: @grant.fundingagencyurl} %>
<% else %>
  <%= render partial: 'layouts/section', locals: {heading: "Funding Agencty", content: @grant.fundingagencyname} %>
<% end %>

<% if @grant.fundingagencylogourl.present? && url_exists?(@@grant.fundingagencylogourl) %>
  <%= image_tag(@grant.fundingagencylogourl, :alt => "image", :height => "40") %>
<% end %>


<% if @grant.fundingagencygranturl.present? %>
  <%= render partial: 'layouts/section', locals: {heading: "Award #", content: @grant.awardnumber, url: @grant.fundingagencygranturl} %>
<% else %>
  <%= render partial: 'layouts/section', locals: {heading: "Award #", content: @grant.awardnumber} %>
<% end %>

<% if @grant.programurl.present? %>
  <%= render partial: 'layouts/section', locals: {heading: "Program", content: @grant.programname, url: @grant.programurl} %>
<% else %>
  <%= render partial: 'layouts/section', locals: {heading: "Program", content: @grant.programname} %>
<% end %>

<% if @grant.miscattributes.present? %>
  <% @grant.miscattributes.each do |key, value| %>
    <%= render partial: 'layouts/section', locals: {heading: @key, content: @value} %>
  <% end %>
<% end %>

<% if @grant.projects.length>0 %>
<strong>Projects:</strong>
<ul>
	<% @grant.projects.each do |p| %>
	  <li><%= link_to p.name, project_path(p) %></li>
	<% end %>
</ul>
<% end %>

<% if @grant.documents.length > 0 %>
<p><strong>Documents:</strong>
	<ul>
		<% @grant.documents.each do |document| %>
		  <li><%= document.citation() %> [ <%= link_to "Details", document_path(document) %> ]</li>
		<% end %>
	</ul>
</p>
<%end%>
<% if @grant.products.length > 0 %>
<p><strong>Products:</strong>
	<ul>
		<% @grant.products.each do |product| %>
		  <li><%= product.title %> [ <%= link_to "Details", product_path(product) %> ]</li>
		<% end %>
	</ul>
</p>
<%end%>
<% if @grant.research_areas.length > 0 %>
<p><strong>Research Areas:</strong>
	<ul>
		<% @grant.research_areas.each do |ra| %>
		  <li><%= link_to "#{ra.name}", research_area_path(ra) %></li>
		<% end %>
	</ul>
</p>
<% end %>
<% if @grant.projects.length > 0 %>
<p><strong>Projects:</strong>
	<ul>
		<% @grant.projects.each do |project| %>
		  <li><%= link_to "#{grant.name}", project_path(project) %></li>
		<% end %>
	</ul>
</p>
<%end%>

<% if @grant.url.present? %>
  <%= link_to "Web Page", @grant.url %>
<% end %>


<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Delete', grant_path(@grant), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', grants_path %>
