<% provide(:title, 'Document Categories') %>

<div class="panel panel-default lw-content-without-second-nav">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Document Categories @ <%= ENV["LABACRONYM"]%></h1>
  </div>
  
  <div class="panel-body">
	  <table class="table-condensed lw-table">
		  <tbody>
			  <% @document_categories.each do |document_category| %>
			    <tr>
					<td><%= document_category.name %></td>
					<td>
						<% if user_signed_in? && current_user.admin? %>
						  &nbsp;&nbsp;&nbsp;&nbsp;[
						  <%= link_to "Details,", document_category %>
						  <%= link_to "Edit,", edit_document_category_path(document_category) %>
						  <%= link_to 'Delete', document_category, method: :delete, data: { confirm: 'Are you sure?' } %>
						  ]
						<% else %>
						  [
						  <%= link_to "Details", document_category %>
						  ]
						<% end %>
				    </td>
			  <% end %>
		  </tbody>
	  </table>
  </div>

   <% if user_signed_in? %>
     <% if current_user.admin? %>
	   <div class="panel-footer">
       <%= link_to 'New Document Category', new_document_category_path %>
	   </div>
     <% end %>
    <% end %>
  
</div>