<% provide(:title, 'Document Categories') %>

<div class="panel panel-default lw-content-without-second-nav">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Document Categories @ <%= ENV["LABACRONYM"]%></h1>
  </div>
  
  <div class="panel-body">
	  <table class="table-condensed lw-table">
		  <tbody>
			  <% @document_categories.each do |document_category| %>
			    <tr>
            <td><%= document_category.name %></td>
            <td>
              <% if current_user.admin? %>
                &nbsp;&nbsp;&nbsp;&nbsp;[
                <%= link_to "Edit", edit_document_category_path(document_category) %>,
                <%= link_to 'Delete', document_category, method: :delete, data: { confirm: 'Are you sure?' } %>
                ]
              <% end %>
				    </td>
          </tr>
			  <% end %>
		  </tbody>
	  </table>
  </div>

  <div class="panel-footer">
    <% if current_user.admin? %>
      <%= link_to 'New Document Category', new_document_category_path %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Rearrange Orders', reorder_document_categories_path %>
    <% end %>
  </div>
  
</div>
