<% provide(:title, 'person Categories') %>

<br>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h1 class="panel-title">Person Categories @ <%= ENV["LABACRONYM"]%></h1>
  </div>

  <div class="panel-body">
    <!-- Table -->
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th colspan="1"></th>
      </tr>
      </thead>

      <tbody>
      <% @person_categories.each do |person_category| %>
          <tr>
            <td><%=person_category.name%></td>
            <td><%= link_to '[ Details', person_category %>
              <% if user_signed_in? && current_user.admin? %>
                  <%= link_to '| Edit', edit_person_category_path(person_category) %>
                  <%= link_to '| Destroy', person_category, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
              ]</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <% if user_signed_in? %>
        <% if current_user.admin? %>
            <%= link_to 'Create', new_person_category_path %>
        <% end %>
    <% end %>
  </div>
</div>