<div class="row bheader">
	Person Category: <%= @person_category.name%>
</div>
<p>
  <strong>Relationship Distance:</strong>
  <%= @person_category.relationship_distance %>
</p>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_person_category_path(@person_category) %> |
<%= link_to 'Delete', person_category_path(@person_category), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', person_categories_path %>
