<footer>
  <hr>
  <p class="pull-right">
    <%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %>
  </p>
  <p>
    &copy; <%= Time.now.year %> <%= ENV["LABACRONYM"] %>
    &bull;
    <%= link_to "Privacy", privacy_path %></li>
    &bull;
    <%= link_to "Terms", terms_path %></li>
  </p>
</footer>