<%# add navigation links to this file %>
<ul class="nav navbar-nav">
    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
    <li class="<%= 'active' if current_page?(people_path) %>"><%= link_to "People", people_path %></li>
    <li class="<%= 'active' if current_page?(projects_path) %>"><%= link_to "Projects", projects_path %></li>
    <li class="<%= 'active' if current_page?(documents_path) %>"><%= link_to "Documents", documents_path %></li>
    <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Products", products_path %></li>
    <li class="<%= 'active' if current_page?(courses_path) %>"><%= link_to "Courses", courses_path %></li>
</ul>
<ul class="nav navbar-nav navbar-right">		
    <% if user_signed_in? %>
	  <li class="dropdown">
		 <a href="#" id="dropdownMenu1" class="dropdown-toggle" data-toggle="dropdown" 
		    aria-haspopup="true" aria-expanded="true"> Account <span class="caret"></span></a>
		 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><%= link_to "My Profile", user_path(current_user) %></li>
			<li><%= link_to "My Settings", edit_user_registration_path %></li>
			<li><%= link_to "All Users", users_path %></li>
			<li class="divider"></li>
	        <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
		 </ul>
	  </li>
    <% else %>
      <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <% end %>
</ul>


