<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= ENV["META_DESCRIPTION"] %>">
  <meta name="author" content="<%= ENV["META_AUTHOR"] %>">
  <meta name="Keywords" content="<%= ENV["META_KEYWORDS"] %>">
  <link rel="icon" href="/assets/favicon.ico">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "jumbotron", media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <a href="#Top"></a>
</head>

<body>

<%= render 'layouts/header' %>

<% if current_page?(root_path) %>
    <% if content_for?(:carousel) %>
	    <div class="carousel">
		  <%= yield :carousel %>
		</div>
	<% end %>
    <% if content_for?(:jumbotron) %>
        <div class="jumbotron">
          <div class="container">
            <%= yield :jumbotron %>
          </div>
        </div>
    <% end %>
<% end %>
<div class="container">

<% if flash[:notice] || flash[:alert] %>
<div class="row">
  <div class="col-md-12">
    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
        <div id="alert"><%= flash[:alert] %></div>
    <% end %>
  </div>
</div>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>
</div> <!-- /container -->

</body>

</html>
